header{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  width: 800pt;
  height: 160pt;
  align-content: center;
  padding: 0;
  margin: 0;
  background-image: url(https://cdn.pixabay.com/photo/2018/05/25/16/43/cube-sea-3429485_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.name {
  display: grid;
  grid-row: 1;
  grid-column: 2;
  font-size: 60px;
  margin: auto auto auto auto;
  
  font-family: Jazz LET, fantasy;
  color: aliceblue;
  align-items: center;

}

.profile-pic {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  border: 0px;
  border-radius: 100%;
  background-image: url(https://scontent-dfw5-1.xx.fbcdn.net/v/t1.6435-9/60152194_2423352761210529_6802369181929963520_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=VmIbBDrBxtUAX8DrNsf&tn=OpKJuoVMbTiEr1CM&_nc_ht=scontent-dfw5-1.xx&oh=91595bf03c4da5fdf7ea7a817e4d040c&oe=61871D4B) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  margin: 10pt;
  

}



body {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  width: 800pt; /* Add some dimension and color for us to see it better */
  height: 800pt;
  background-image: url(https://cdn.pixabay.com/photo/2019/06/25/15/34/white-4298476_960_720.jpg);
  background-size: cover;
  margin: 50px auto 50px auto;
}

.personal {
  display: grid;
  grid-column: 1;
  grid-row: 2/4;
  padding: 0px;
  text-decoration: underline 10px;
  font-size: 40px; 
  color: rgb(38, 76, 94);
  background-color: oldlace;
  
  
}

.contact {
  display: grid;
  text-decoration: underline 10px;
  font-size: 40px; 
  grid-column: 1;
  grid-row: 5;
  background-color: oldlace;
  color: rgb(38, 76, 94);
  
}

.education {
  display: grid;
  grid-column: 1;
  grid-row: 4;
  text-decoration: underline 10px;
  font-size: 40px; 
  background-color: oldlace;
  color: rgb(38, 76, 94);
}

.skills {

  display: grid;
  grid-column: 2;
  grid-row: 2/4;
  text-decoration: underline 10px;
  font-size: 40px; 
  background-color: white;
  color: rgb(38, 76, 94);
  

}

.work {
  display: grid;
  grid-column: 2;
  grid-row: 4/6;
  text-decoration: underline 17px;
  font-size: 40px; 
  background-color: white;
  color: rgb(38, 76, 94);
}

.personal-info {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  margin: 70px 20px 10px;
  padding: 1px;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.contact-info {
  display: grid;
  grid-column: 1;
  grid-row: 5;
  margin: 50px 0px 0px;
  padding: 1px;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

ul {
  list-style-type: none;
  

}

ul li::before {
  content: "\2022";
  color: cornflowerblue;
  font-weight: bold;
  display: inline-block; 
  width: 30px;
  margin: 1px -10px 15px;
 
  
}

.education-info {
  display: grid;
  grid-column: 1;
  grid-row: 4;
  margin: 70px 20px 10px;
  padding: 1px;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skills-info {
  display: grid;
  grid-column: 2;
  grid-row: 2/4;
  margin: 50px 0px 0px;
  padding: 1px;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.work-info {
  display: grid;
  grid-column: 2;
  grid-row: 4/6;
  margin: 50px 0px 0px;
  padding: 1px;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}